@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: #eeeeee url('./images/bg01.png');
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

h1, h2, h3 {
  color: #663333;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

a:hover {
  text-decoration: none;
}

/* header */

header {
  display: inline;
}

.header--banner {
  display: block;
  width: 100%;
  height: auto;
}

/* nav */

.navH {
  position: sticky;
  top: 0;
  padding: 1rem;
  background: linear-gradient(#993333, #eeeeee00);
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.navH--logo {
  width: 40px;
}

.navH__links {
  min-width: auto;
  height: auto;
  background: transparent;
  text-align: end;
}

.navH__links li {
  display: inline;
}

.navH__links button {
  margin: 0.25rem 0;
  border: 2px #993333 solid;
  border-radius: 3px;
  padding: 0.25rem;
  background: #eeeeee;
  --bs-btn-color: #5b5b5b;
  --bs-btn-hover-bg: #5b5b5b;
  --bs-btn-hover-border-color: #993333;
  --bs-btn-hover-color: #eeeeee;
  --bs-btn-active-bg: #993333;
  --bs-btn-active-color: #eeeeee;
  --bs-btn-active-border-color: #993333;
}

.navH__links a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.navH__links .current {
  background: #993333;
}

.navH__links .current a {
  color: #eeeeee;
}

.navH__links .current:focus-visible {
  background: #5b5b5b;
  color: #eeeeee;
}

.navH__links--dropdownToggle {
  --bs-btn-active-bg: #5b5b5b;
}

.navH__links__dropdownMenu {
  background: #eeeeee;
  box-shadow: 0 0 10px #993333;
  color: #5b5b5b;
}

.navH__links__dropdownMenu a:hover, .navH__links__dropdownMenu a:focus {
  background: #5b5b5b;
  color: #eeeeee;
  outline: none;
}

.navH__links__dropdownMenu a:active {
  background: #993333;
  color: #eeeeee;
}

.navV {
  display: none;
  margin: 1.5%;
  width: fit-content;
}

.navV button, .navV button:focus  {
  background: #eeeeee;
  box-shadow: 0 0 10px #993333;
}

.navV--toggler {
  filter: invert(25%) sepia(21%) saturate(1686%) hue-rotate(313deg) brightness(113%) contrast(105%);
}

.navV__container {
  position: relative;
  z-index: 1;
  width: fit-content;
  background-color: #eeeeee;
  border-radius: 2.5%;
  box-shadow: 0 0 10px #993333;
}

.navV--mainlink {
  font-size: 1.25rem;
  padding: 0.25rem 1em;
  text-transform: uppercase;
}

.navV--sublink {
  font-size: 1rem;
  margin-left: 2rem;
  text-transform: none;
}

.navV .current {
  color: #993333;
  font-weight: bold;
}

/* footer */

footer {
  padding: 0 1rem;
  background: #202020;
  color: #e0e0e0;
  text-align: center;
}

footer h4 {
  margin: 0.5rem 0;
  text-decoration: underline;
}

footer h5, footer p {
  margin: 0;
}

footer hr{
  border: 1px solid #696969;
  max-width: 95%;
  margin: 0 2.5%;
}

.footer__flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer__flex__social ul {
  display: flex;
  justify-content: space-around;
}

.footer__flex__social ul li {
  margin: 0 0.5rem;
}

.footer__flex__sitemap ul li {
  margin: 0.3rem 0;
}

.footer--copyright {
  margin: 0.5rem 0 0 0;
}


/* main */

/* index */

.index section {
  background: #b37070c0;
  width: 95%;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  gap: 1.5rem;
  box-shadow: 0 0 5px #00000099;
}

.index section:nth-child(odd of section)  {
  margin-right: 5%;
  border-end-end-radius: 5px;
}

.index section:nth-child(even of section) {
  flex-direction: row-reverse;
  margin-left: 5%;
  border-start-start-radius: 5px;
  text-align: end;
}

.index section img {
  max-width: 25%;
  height: auto;
  align-self: flex-start;
  border-radius: 8px;
  position: relative;
  bottom: 5rem;
}

.index section:hover img {
  box-shadow: 0 0 15px #000000;
}

.index section div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.index section h4 {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.index section a {
  width: fit-content;
  align-self: flex-end;
}

.index hr{
  border: 1px solid #696969;
  max-width: 95%;
  margin: auto;
}


/* soporte / productos*/

.productos, .soporte {
  text-align: center;
}

.productos__galeria, .soporte__manuales {
  background: #b37070c0;
  width: 90%;
  height: auto;
  margin: 1rem 5% 2rem 5%;
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  box-shadow: 0 0 5px #00000099;
}

.productos__galeria__item {
  max-width: 280px;
  background: #e0e0e0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 15px #000000;
}

.productos__galeria__item:hover {
  box-shadow: 0 0 15px #993333;
}

#vetti {
  display: flex;
  flex-direction: column;
  margin: 1rem 5% 2rem 5%;
}

.soporte__manuales a {
  max-width: 300px;
  height: auto;
}

.soporte__manuales a img {
  width: 100%;
  height: auto;
}

.soporte__manuales a img:hover {
  box-shadow: 0 0 15px #000000;
}

.soporte__vetti a {
  display: inline-block;
}

.soporte__descargas ul {
  margin: 0 0 0 10%;
}

.soporte__descargas li {
  text-align: start;
  list-style: circle;
  margin: 0.5em 0;
}

.soporte__descargas__appstores li {
  display: inline-block;
  list-style: none;
  margin: 0.5em;
}

/* Comprar */

.comprar p{
  text-align: center;
  margin-bottom: 2em;
}

.comprar__distribuidores {
  margin: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  row-gap: 2rem;
  flex-wrap: wrap;
}

.comprar__distribuidores__empresa {
  width: 200px;
  max-height: auto;
  overflow: hidden;
  margin: 1.25%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 2.5rem 1fr 1.5rem;
  grid-template-rows: 1fr 3rem;
  grid-template-areas: 
  "logo logo logo"
  "bandera ciudad mapa";
}

.comprar__distribuidores__empresa--logo {
  grid-area: logo;
}

.comprar__distribuidores__empresa--bandera {
  grid-area: bandera;
  width: 2rem;
  height: auto;
}

.comprar__distribuidores__empresa--ciudad {
  grid-area: ciudad;
}

.comprar__distribuidores__empresa--mapa {
  grid-area: mapa;
  width: 1rem;
  height: auto;
  justify-self: self-end;
}

.comprar--mapaUbicacion {
  width: 100%;
  height: 30rem;
}

/* contacto */

.contacto {
  text-align: center;
}

.contacto section {
  margin: 1rem 2.5%;
}

.contacto__medios {
  display: grid;
  row-gap: 2rem;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "tel mail whatsapp telegram";
}

.ctel {grid-area: tel;}
.cwhatsapp {grid-area: whatsapp;}
.cmail {grid-area: mail;}
.ctelegram {grid-area: telegram;}


.bloque-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.bloque-contacto img{
  width: 3rem;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

#contact-form {
  padding: 2rem 10% ;
}

#contact-form p {
  text-align: left;
}

#contact-form form input, .contacto form select {
  max-width: 20rem;
  border: #000000 solid 1px;
}

#contact-form form #mensaje {
  max-width: 40rem;
  height: 10rem;
  border: #000000 solid 1px;
}

/* media queries */

@media (max-width: 62em) {
  
  /* navegacion */

  .navH {
    position: relative;
  }

  /* index */

  .index section {
    margin-top: 2rem;
  }

  .index section img {
    position: static;
    align-self: center;
  }

  /* soporte */

  .soporte__manuales a {
    max-width: 200px;
  }

  /* contacto */

  .contacto__medios {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "tel whatsapp" "mail telegram";
  }
}

@media (max-width: 36em) {

  /* navegacion */

  .navH {
    display: none;
  }

  .navV {
    display: block;
  }

  /* footer */

  .footer__flex {
    flex-direction: column;
    gap: 0.5rem;
  }

  .footer__flex__social ul {
    justify-content: center;
  }

  .footer__flex__sitemap, .footer__flex--lasthr {
    display: none;
  }

  /* index */

  .index section:nth-child(n of section) {
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 2rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 5px;
    text-align: center;
  }

  .index section img {
    align-self: center;
    position: static;
    width: 50%;
    min-width: 150px;
  }

  /* contacto */

  .contacto__medios {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "tel" "mail" "whatsapp" "telegram";
  }
}