@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 0em) and (max-width: 36em) {
  .sm-invisible {
    display: none !important;
  }
}

@media (min-width: 36em) and (max-width: 48em) {
  .md-invisible {
    display: none !important;
  }
}

@media (min-width: 48em) and (max-width: 10000em) {
  .lg-invisible {
    display: none !important;
  }
}

h6, h5, h4, h3, h2, h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

h1 {
  font-size: 2.5rem;
  color: #663333;
}

h2 {
  font-size: 2rem;
  color: #663333;
}

h3 {
  font-size: 1.5rem;
  color: #663333;
}

h4 {
  font-size: 1.25rem;
  color: #000000;
}

h5 {
  font-size: 1rem;
  color: #eeeeee;
}

h6 {
  font-size: 0.8rem;
  color: #eeeeee;
}

hr {
  border: 1px solid #696969;
  max-width: 95%;
}

header {
  display: inline;
}

body {
  width: 100%;
  background: #eeeeee url("./images/bg01.png");
}

footer {
  padding: 0 1rem;
  background: #000000;
  color: #eeeeee;
  text-align: center;
}
footer h5 {
  margin: 0.5rem 0;
  text-decoration: underline;
}
footer h6, footer p {
  margin: 0;
}
footer hr {
  margin: 0 2.5%;
}
footer .footer__flex {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 0em) and (max-width: 36em) {
  footer .footer__flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
footer .footer__flex .footer__flex__social ul {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}
footer .footer__flex .footer__flex__social ul li {
  margin: 0 0.5rem;
}
footer .footer__flex .footer__flex__social ul li a img {
  width: 48px;
  height: 48px;
}
footer .footer__flex .footer__flex__sitemap ul li {
  margin: 0.3rem 0;
}
footer .footer--copyright {
  margin: 0.5rem 0 0 0;
}

.banner {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 992/164.29;
}

.navH {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 0.5rem;
  background: linear-gradient(#993333, rgba(238, 238, 238, 0));
}
.navH .navH--logo {
  width: 40px;
}
.navH .navH__links li {
  display: inline;
}
.navH .navH__links li button {
  margin: 0.25rem 0;
  border: 2px #993333 solid;
  border-radius: 3px;
  padding: 0.25rem;
  background: #eeeeee;
  color: #3c3c3c;
  border-color: #993333;
}
.navH .navH__links li button:hover, .navH .navH__links li button:focus-visible {
  background: #3c3c3c;
  color: #eeeeee;
  border-color: #993333;
}
.navH .navH__links li button:active {
  background: #993333;
  color: #eeeeee;
  border-color: #993333;
}
.navH .navH__links li button a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.navH .navH__links li .current {
  background: #993333;
  color: #eeeeee;
  border-color: #993333;
}
.navH .navH__links li .current:focus-visible {
  background: #3c3c3c;
  color: #eeeeee;
  border-color: #993333;
}
.navH .navH__links .navH__links__dropdownMenu {
  background: #eeeeee;
  color: #3c3c3c;
  box-shadow: 0 0 10px #993333;
}
.navH .navH__links .navH__links__dropdownMenu a {
  background: #eeeeee;
  color: #3c3c3c;
  border-color: #993333;
  font-weight: bold;
}
.navH .navH__links .navH__links__dropdownMenu a:hover, .navH .navH__links .navH__links__dropdownMenu a:focus {
  background: #3c3c3c;
  color: #eeeeee;
  border-color: #993333;
  outline: none;
}
.navH .navH__links .navH__links__dropdownMenu a:active {
  background: #993333;
  color: #eeeeee;
  border-color: #993333;
}

.navV {
  display: block;
  margin-left: auto;
  width: fit-content;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
}
.navV button {
  background: #eeeeee;
  box-shadow: 0 0 10px #993333;
}
.navV button:focus {
  background: #eeeeee;
  box-shadow: 0 0 10px #993333;
  outline: none;
}
.navV button .navV--toggler {
  filter: invert(25%) sepia(21%) saturate(1686%) hue-rotate(313deg) brightness(113%) contrast(105%);
}
.navV .navV__container {
  position: relative;
  width: fit-content;
  background-color: #eeeeee;
  border-radius: 2.5%;
  box-shadow: 0 0 10px #993333;
}
.navV .navV__container .navV--mainlink {
  font-size: 1.25rem;
  padding: 0.25rem 1em;
  text-transform: uppercase;
  text-align: start;
}
.navV .navV__container .navV--sublink {
  font-size: 1rem;
  margin-left: 2rem;
  text-transform: none;
  text-align: start;
}
.navV .navV__container .current {
  color: #993333;
  font-weight: bold;
}

.contacto #contact-form, .soporte .soporte__manuales, .productos .productos__galeria, .index section {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 0 0 5px #000000;
  width: 90%;
  height: auto;
  background: rgba(179, 112, 112, 0.7529411765);
  margin: 1rem 5% 2rem 5%;
  border-radius: 5px;
  padding: 1.5rem;
  overflow: hidden;
}

.index {
  overflow-x: hidden;
}
.index section {
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 95%;
  margin: 5rem 0 2rem 0;
  overflow: visible;
}
.index section:nth-child(odd of section) {
  margin: 5rem 5% 2rem 0;
  border-radius: 0 5px 5px 0;
}
@media (max-width: 62em) {
  .index section:nth-child(odd of section) {
    margin: 2rem 5% 2rem 0;
  }
}
.index section:nth-child(odd of section) div p {
  text-align: start;
}
.index section:nth-child(even of section) {
  flex-direction: row-reverse;
  margin: 5rem 0 2rem 5%;
  border-radius: 5px 0 0 5px;
  text-align: end;
}
@media (max-width: 62em) {
  .index section:nth-child(even of section) {
    margin: 2rem 0 2rem 5%;
  }
}
.index section:nth-child(even of section) div p {
  text-align: end;
}
@media (max-width: 36em) {
  .index section:nth-child(n of section) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 2rem 5%;
    text-align: center;
  }
  .index section:nth-child(n of section) div p {
    text-align: center;
  }
}
.index section img {
  width: 25%;
  height: auto;
  aspect-ratio: 1/1;
  align-self: flex-start;
  border-radius: 8px;
  transform: translateY(-5rem);
}
@media (max-width: 62em) {
  .index section img {
    transform: none;
    align-self: center;
  }
}
@media (max-width: 36em) {
  .index section img {
    width: 50%;
    min-width: 150px;
  }
}
.index section:hover img {
  box-shadow: 0 0 15px #000000;
}
.index section div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.index section a {
  width: fit-content;
  align-self: flex-end;
}

.productos .productos__galeria .productos__galeria__item {
  max-width: 280px;
  background: #e0e0e0;
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 15px #000000;
}
.productos .productos__galeria .productos__galeria__item img {
  width: 250px;
  height: auto;
  max-width: 75%;
  aspect-ratio: 1/1;
}
.productos .productos__galeria .productos__galeria__item:hover {
  box-shadow: 0 0 15px #993333;
}
.productos .productos__galeria .productos__galeria__item:hover img {
  transform: scale(1.25);
}
.productos #vetti {
  display: flex;
  flex-direction: column;
  margin: 1rem 5% 2rem 5%;
}
.productos #vetti img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.comprar p {
  margin: 1em 0;
}
.comprar .comprar__distribuidores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin: 0;
}
.comprar .comprar__distribuidores .comprar__distribuidores__empresa {
  width: 200px;
  height: 200px;
  margin: 1.25;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 3rem;
  grid-template-columns: 2.5rem 1fr 1.5rem;
  grid-template-areas: "logo logo logo" "bandera ciudad mapa";
}
.comprar .comprar__distribuidores .comprar__distribuidores__empresa .comprar__distribuidores__empresa--logo {
  grid-area: logo;
}
.comprar .comprar__distribuidores .comprar__distribuidores__empresa .comprar__distribuidores__empresa--logo img {
  max-width: 200px;
  max-height: 150px;
}
.comprar .comprar__distribuidores .comprar__distribuidores__empresa .comprar__distribuidores__empresa--bandera {
  grid-area: bandera;
  width: 2rem;
  height: auto;
  justify-self: center;
  aspect-ratio: 1/1;
}
.comprar .comprar__distribuidores .comprar__distribuidores__empresa .comprar__distribuidores__empresa--ciudad {
  grid-area: ciudad;
}
.comprar .comprar__distribuidores .comprar__distribuidores__empresa .comprar__distribuidores__empresa--mapa {
  grid-area: mapa;
  width: 1rem;
  height: auto;
  justify-self: self-end;
  aspect-ratio: 1/1;
}
.comprar .comprar--mapaUbicacion {
  width: 100%;
  height: 30rem;
}

.soporte .soporte__manuales a {
  height: auto;
  max-width: 300px;
  transition: all 0.3s;
}
@media (max-width: 62em) {
  .soporte .soporte__manuales a {
    max-width: 200px;
  }
}
.soporte .soporte__manuales a img {
  width: 100%;
  height: auto;
  aspect-ratio: 300/424.35;
}
.soporte .soporte__manuales a:hover {
  box-shadow: 0 0 15px #000000;
  transform: scale(1.1);
}
.soporte .soporte__vetti a {
  display: inline-block;
}
.soporte .soporte__descargas ul {
  margin: 0 0 0 10%;
}
.soporte .soporte__descargas ul li {
  text-align: start;
  list-style: circle;
  margin: 0.5em 0;
}
.soporte .soporte__descargas .soporte__descargas__appstores {
  text-align: start;
}
.soporte .soporte__descargas .soporte__descargas__appstores li {
  display: inline-block;
  list-style: none;
  margin: 0.5em;
}
.soporte .soporte__descargas .soporte__descargas__appstores li a img {
  width: 150;
  height: 44;
}

.contacto section {
  margin: 2rem 2.5%;
}
.contacto .contacto__medios {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  grid-template-areas: "tel mail whatsapp telegram";
}
@media (max-width: 62em) {
  .contacto .contacto__medios {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    grid-template-areas: "tel whatsapp" "mail telegram";
  }
}
@media (max-width: 36em) {
  .contacto .contacto__medios {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    grid-template-areas: "tel" "mail" "whatsapp" "telegram";
  }
}
.contacto .contacto__medios .ctel {
  grid-area: tel;
}
.contacto .contacto__medios .cwhatsapp {
  grid-area: whatsapp;
}
.contacto .contacto__medios .cmail {
  grid-area: mail;
}
.contacto .contacto__medios .ctelegram {
  grid-area: telegram;
}
.contacto .contacto__medios .bloque-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contacto .contacto__medios .bloque-contacto img {
  width: 3rem;
  height: 3rem;
}
.contacto .contacto__medios .bloque-contacto .contact-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.contacto #contact-form {
  display: block;
}
.contacto #contact-form p {
  text-align: left;
}
.contacto #contact-form form {
  text-align: right;
}
.contacto #contact-form form input, .contacto #contact-form form select, .contacto #contact-form form #mensaje {
  text-align: left;
  border: #000000 solid 1px;
  text-overflow: ellipsis;
}
.contacto #contact-form form input option, .contacto #contact-form form select option, .contacto #contact-form form #mensaje option {
  text-align: inherit;
  font-size: inherit;
  text-overflow: ellipsis;
}
.contacto #contact-form form #mensaje {
  height: 10rem;
}

/*# sourceMappingURL=style.css.map */
