$cl-principal: #993333;
$cl-titulos: #663333;
$cl-textos: #000000;
$cl-subtitulos: $cl-textos;
$cl-claro: #eeeeee;
$cl-masclaro: #ffffff;
$cl-oscuro: #3c3c3c;
$cl-body: $cl-claro;
$cl-footer: #000000;
$cl-lineas: #696969;
$cl-contenedor: #b37070c0;
$cl-subcontenedor: $cl-claro;
$cl-sombras: #000000;

$cl-btn-borde: $cl-principal;
$cl-btn-fondo: $cl-claro;
$cl-btn-texto: $cl-oscuro;
$cl-btn-fondo-hover: $cl-oscuro;
$cl-btn-texto-hover: $cl-claro;
$cl-btn-fondo-active: $cl-principal;
$cl-btn-texto-active: $cl-claro;

