.comprar {
  p {
    margin: 1em 0;
  }
  .comprar__distribuidores {
    @include flex ($wrap: wrap, $justify: space-around, $align: center, $gap: 2rem);
    margin: 0;
    .comprar__distribuidores__empresa {
      @include size (200px, 200px);
      margin: 1.25;
      overflow: hidden;
      @include grid ($columns: 2.5rem 1fr 1.5rem, $rows: 1fr 3rem, $justify: center, $align: center);
      grid-template-areas: "logo logo logo" "bandera ciudad mapa";
      .comprar__distribuidores__empresa--logo {
        grid-area: logo;
        img {
          @include size ($maxw:200px);
        }
      }
      .comprar__distribuidores__empresa--bandera {
        grid-area: bandera;
        width: 2rem;
        height: auto;
        justify-self: center;
        aspect-ratio: 1 / 1;
      }
      .comprar__distribuidores__empresa--ciudad {
        grid-area: ciudad;
      }
      .comprar__distribuidores__empresa--mapa {
        grid-area: mapa;
        width: 1rem;
        height: auto;
        justify-self: self-end;
        aspect-ratio: 1 / 1;
      }
    }
  }
  .comprar--mapaUbicacion {
    width: 100%;
    height: 30rem;
  }
}