* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: $font-g;
}

body {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-family: $font-p;
}

a {
  font-family: $font-a;
}

a:hover {
  text-decoration: none;
}

// fix para evitar superposición de las animaciones de AOS con el menú desplegable de bootstrap:

.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}