* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: $font-g;
}

body {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-family: $font-p;
}

main > p, section > p {
  margin: 1em 2.5%;
}

a {
  font-family: $font-a;
  color: $cl-enlaces;
}

a:hover {
  text-decoration: none;
  color: scale-color($color: $cl-enlaces, $lightness: 25%)
}